footer {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #1b2a49,
    #16233a,
    #0f1d2a,
    #0a1720
  );
  color: #00a9e0;
  text-align: center;
  padding: 2.4rem 0;
}

footer p {
  margin: 0;
  font-size: 1.4rem;
}

@media (max-width: 350px) {
  footer p {
    font-size: 1rem;
  }
}
