*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

p{
    font-family: "Roboto", sans-serif;


}

.section-margin-padding{
    margin-top: 9.6rem;
    padding-left: 6.4rem;
    padding-right: 6.4rem;
}

.center{
    width: 70rem;
    margin: 0 auto;
}