.plans-section {
  background-image: linear-gradient(
    to right,
    #1b2a49,
    #16233a,
    #0f1d2a,
    #0a1720
  );
  padding-bottom: 10rem;
}

.new-line-br {
  display: none;
}

.plans-header {
  color: #00a9e0;
  padding-top: 4.8rem;
  text-align: center;
  font-size: 4.8rem;
}

.plans-subheading {
  color: #00a9e0;
  text-align: center;

  margin-top: 1rem;
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.plans-container {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  justify-content: center;
}

.plans-div {
  padding: 2rem 4.5rem;
  border-radius: 3rem;
  margin-top: 3.8rem;
  border: none;
  outline: none;
  cursor: inherit;
  position: relative;
  z-index: 0;
  max-width: 45rem;
}

.plans-div:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingplans-div 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingplans-div {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.plans-div:hover:before {
  opacity: 1;
}

.plans-div:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.landing-page-plan {
  background-color: #243b5e;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.sales-flow-plan {
  background-color: #fff;
}

.plans-heading {
  margin-top: 2rem;
  font-size: 2.4rem;
}
.plans-sub-heading {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  padding-bottom: 1rem;
}

.plans-cta {
  font-size: 2.4rem;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 2.4rem;
}

.mobile-items-flex {
  display: flex;
  gap: 1.8rem;
}

.mobile-items-flex h4 {
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 1.4rem;
}

.sales-flow-plan h4,
.sales-flow-plan .plans-sub-heading,
.sales-flow-plan .plans-heading {
  color: #1b2a49;
}

.sales-flow-plan .plans-sub-heading {
  border-bottom: 3px solid #1b2a49;
}
.plans-cta {
  padding: 1rem 3rem;
}
.sales-flow-plan .plans-cta {
  color: #f0f0f0;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.sales-flow-plan .plans-cta:focus {
  outline: none;
}

.sales-flow-plan .plans-cta:hover {
  /* background-color: #fff;
  color: #00a9e0; */

  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.landing-page-plan .plans-heading,
.landing-page-plan .plans-sub-heading,
.landing-page-plan h4 {
  color: red;
}

.landing-page-plan .plans-sub-heading {
  border-bottom: 3px solid #fff;
}

.landing-page-plan .plans-cta {
  color: #f0f0f0;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.landing-page-plan .plans-cta:focus {
  outline: none;
}

.landing-page-plan .plans-cta:hover {
  /* background-color: #fff;
  color: #00a9e0; */

  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1060px) {
  .plans-container {
    flex-direction: column;
    gap: 0rem;
  }
  .plans-subheading {
    margin-bottom: 0;
  }
}
@media (max-width: 840px) {
  .plans-header {
    font-size: 3.5rem;
  }
  .plans-subheading {
    font-size: 1.8rem;
  }
}

@media (max-width: 617px) {
  .plans-header {
    font-size: 4.8rem;
  }
}

@media (max-width: 540px) {
  .plans-div .mobile-items-flex h4 {
    font-size: 1.4rem;
  }
  .plans-sub-heading {
    font-size: 1.2rem;
  }
  .plans-header {
    font-size: 3rem;
  }
  .plans-subheading {
    font-size: 1.4rem;
  }
}
@media (max-width: 435px) {
  .plans-section {
    padding-left: 1.8rem !important;
    padding-right: 1.8rem !important;
    padding-bottom: 6.4rem !important;
  }
  .plans-div {
    padding: 0.5rem 1.5rem;
  }
  .plans-cta {
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .plans-header {
    font-size: 3.6rem;
  }

  .plans-subheading {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .plans-header {
    font-size: 2.3rem;
  }
  .plans-subheading {
    font-size: 1.5rem;
  }
}

@media (max-width: 410px) {
  .plans-subheading {
    display: none;
  }

  .plans-header {
    margin-bottom: 3rem;
  }
}
